* {
  text-align: center;
}

#body {
  background-color: #ddd4ff;
}

#title {
  color: #28004d;
  font-family: 'Courier New', Courier, monospace
}

#name {
  color: #28004d;
  font-family: 'Courier New', Courier, monospace;
}
